.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.hero-content h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 22px;
    margin-bottom: 25px;
}

.features{
    width: 90%;
    margin: 60px auto;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
}
.card h2{
    margin-bottom: 15px;
    color: var(--p-c);
}

.home-products{
    width: 90%;
    margin: 60px auto;
}

.section-title{
    text-align: center;
    margin-bottom: 40px;
    color: var(--p-c);
}
.product-container{

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px,1fr));

    gap: 25px;
}


.product-card{

    text-align: center;
}

.product-card img{

    width: 100%;

    height: 250px;

    object-fit: cover;

    border-radius: var(--b-r);
}

.product-card h3{

    margin: 15px 0;
}

.price{

    color: var(--p-c);

    font-size: 22px;

    margin-bottom: 15px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

    .hero-content h1{

        font-size: 38px;
    }

    .hero-content p{

        font-size: 18px;
    }
}