.search-section{
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
.search-section input{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.product-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding-bottom: 40px;
}
.product-card{
    width: 290px;
    /* height: 550px; */
    padding: 10px;
    border: 1px solid var(--border-c);
    background: var(--white-c);
    border-radius: var(--b-r);
    box-shadow: var(--box-shadow);
}

.product-image{
    width: 100%;
    height: 220px;
    border: 1px solid var(--border-c);
    overflow: hidden;
    margin-bottom: 10px;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name{
    border: 1px solid var(--border-c);
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-c);
}

.product-details{
    border: 1px solid var(--border-c);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 220px;
}

.price-stock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-stock h3{
    font-size: 20px;
    color: var(--p-c);
}

.product-details p{
    margin-bottom: 10px;
    color: var(--text-c);
    line-height: 1.5;
}

.product-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-btns button{
    padding: 10px;
    border: 1px solid var(--border-c);
    background: var(--p-c);
    color: var(--white-c);
    cursor: pointer;
    transition: 0.3s;
}

.product-btns button:hover{
    background: var(--hover-c);
}
@media(max-width: 768px){
    .search-section input{
        width: 100%;
    }
}