
.form-container {
    width: 40%;
    margin: 50px auto;
    padding: 25px;
    background-color: var(--bg-c);
    border-radius: var(--b-r);
    box-shadow: var(--box-shadow);
}

.form-container h2 {
    text-align: center;
    color: var(--p-c);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-c);
    font-size: 14px;
}

.input-group input{
    width: 100%;
    height: 36px;
    padding: var(--pd);
    border: 1px solid var(--border-c);
    border-radius: var(--b-r);
    box-sizing: border-box;
    font-size: 14px;
}
textarea{
    width: 100%;
    padding: var(--pd);
    border: 1px solid var(--border-c);
    border-radius: var(--b-r);
    box-sizing: border-box;
    font-size: 14px;
}
.input-group input:focus,.input-group textarea:focus ,.input-group select:focus {
    outline: none;
    border: none;
    border-color: var(--p-c);
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--p-c);
    color: var(--white-c);
    border: none;
    border-radius: var(--b-r);
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--s-c);
}

@media screen and (max-width: 400px) {

    .form-container {
        width: 90%;
        padding: 20px;
    }
}


/* addProduct */
.input-group select{
    width: 100%;
    height: 45px;
    padding: var(--pd);
    border: 1px solid var(--border-c);
    border-radius: var(--b-r);
    box-sizing: border-box;
    font-size: 14px;
}