<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Orders</title>

    <link rel="stylesheet" href="headerFooter.css">

</head>
<body>
    <div class="sidebar">

        <h2 class="logo">Admin Panel</h2>

        <ul>

            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="addProduct.html">Add Product</a></li>
            <li><a href="manageProduct.html">Manage Product</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="customer.html">Customers</a></li>
            <li><a href="shiping.html">Shipment</a></li>

        </ul>

    </div>
<div class="main-content">

    <div class="header">

        <h1>Customer Orders</h1>

    </div>

    <div class="table-container">

        <table>

            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Action</th>
            </tr>

            <tr>
                <td>101</td>
                <td>Sanket</td>
                <td>₹2999</td>
                <td>Pending</td>
                <td>Paid</td>
                <td>
                    <button class="btn btn-success">Approve</button>
                    <button class="btn btn-danger">Reject</button>
                </td>
            </tr>

        </table>

    </div>

</div>

</body>
</html>