<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shipment</title>

    <link rel="stylesheet" href="headerFooter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="sidebar">

        <h2 class="logo">Admin Panel</h2>

        <ul>

            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="addProduct.html">Add Product</a></li>
            <li><a href="manageProduct.html">Manage Product</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="customer.html">Customers</a></li>
            <li><a href="shiping.html">Shipment</a></li>

        </ul>

    </div>
<div class="main-content">

    <div class="header">

        <h1>Shipment Details</h1>

    </div>

    <div class="table-container">

        <table>

            <tr>
                <th>Shipment ID</th>
                <th>Courier</th>
                <th>Tracking</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>5001</td>
                <td>BlueDart</td>
                <td>TRK123456</td>
                <td>Shipped</td>
            </tr>

        </table>

    </div>

</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>